.aboutPage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutContainer {
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.15s ease-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0.15rem 0.5rem 0.875rem;
  user-select: none;
  background-color: rgb(32, 32, 32);
  /*background-image: url("../public/topography.svg");*/
  background-size: 90%;
}

.aboutContainerOpen {
  position: absolute;
  border-radius: 1.5rem;
  top: 5rem;
  width: 80rem;
  z-index: 10;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPageOverlay {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.aboutImageContainer {
  pointer-events: none !important;
  margin: 2.5rem 2.5rem 1rem 2.5rem;
}

.aboutImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.25rem solid white !important;
}

.aboutName {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.textGradient {
  background: -webkit-linear-gradient(326deg, rgba(204,91,235,1) 0%, rgba(0,201,238,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutHeader {
  width: 100%;
  text-align: left;
  font-weight: 800;
  font-size: 4rem;
  padding: 2rem;
}

.aboutContentContainer {
  background-color: rgb(24, 24, 24);
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-size: 1.5rem;
}

.aboutContent {
  padding: 1.5rem;
  width: 100%;
}

.aboutContent > hr {
  width: 100%;
  border: 1px solid rgb(42, 42, 42);
}

.aboutContentHeader {
  font-size: 2.5rem;
  font-weight: 700;
}

@media screen and (max-width: 80rem) {
  .aboutHeader {
    text-align: left;
  }

  .aboutContainer {
    width: 85%;
  }

  .aboutContainerOpen {
    width: 100%;
  }
}

