.aboutPage {
  height: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutContainer {
  width: 50%;
  padding: 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.15s ease-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0.15rem 0.5rem 0.875rem;
  user-select: none;
  background-color: rgb(32, 32, 32);
  background-image: url("../public/topography.svg");
  background-size: 90%;
}

.aboutContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0.15rem 0.75rem 2.5rem;
}

.aboutContainerOpen {
  position: absolute;
  border-radius: 1.5rem;
  top: 5rem;
  width: 80rem;
  z-index: 10;
  background-color: rgb(32, 32, 32);
  background-size: 90%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPageOverlay {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.aboutImageContainer {
  pointer-events: none !important;
}

.aboutImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.25rem solid white !important;
}

.aboutName {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.aboutHeader {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 4rem;
  padding: 2rem;
}

@media screen and (max-width: 80rem) {
  .aboutHeader {
    text-align: left;
  }

  .aboutContainer {
    border-radius: 0;
  }
}

