.aboutPage {
  height: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutContainer {
  width: 100%;
  background-color: rgb(48, 48, 48);
  padding: 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.aboutName {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.aboutHeader {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 4rem;
  padding: 2rem;
}

@media screen and (max-width: 80rem) {
  .aboutHeader {
    text-align: left;
  }

  .aboutContainer {
    border-radius: 0;
  }
}

