.pageContainer {
  min-width: 80rem;
}

@media screen and (max-width: 80rem) {
  .pageContainer {
    min-width: 100%;
  }
}

.justifyCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerText {
  width: 100%;
  text-align: left;
  font-weight: 800;
  font-size: 4rem;
  padding: 2rem;
}
