@import url('https://rsms.me/inter/inter.css');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(24, 24, 24);
  color: white;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.noOverflow {
  overflow: hidden;
}

.animatedPage {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  max-width: 100%;
  max-height: 100%;
}
